## Variable assigning

variable_name=values

In [28]:
a=10
type(a)## type() func will give you the data type--here int

int

## Many ways to print

In [29]:
print("Welcome to the Notebook.")## print uses for showing output

Welcome to the Notebook.

In [32]:
first_name='Archisman'
last_name='Saha'

In [33]:
print("My first name is {} and last name is {}".format(first_name,last_name))

My first name is Archisman and last name is Saha

In [34]:
print("My First name is {first} and last name is {last}".format(last=last_name,first=first_name))

My First name is Archisman and last name is Saha

In [35]:
score=0
height=1.8
iswinning=True

In [38]:
#f-string   (add f before "" and under {variable name})
print(f"Your score is : {score},height: {height},winning: {iswinning}") ## Takes all data types in a string reduces manual labour

Your score is : 0,height: 1.8,winning: True

## Taking Input

In [2]:
Name=input("Enter the city you grew up\n") ##  input function is for taking input and inside the function under " " you can write the message you want to show up at the time of taking input

print(f"City name : {Name}")

Enter the city you grew up
kolkata
City name : kolkata

In [3]:
length=len(Name)   ##len(variable/string) ---- len() function uses to return string length 
print(length)

7

# Arithmetic Operations

In [2]:
print(4/2) ## devison (gives float number)
print(3//2)## gives floor number like 3.6 to 3
print(5%2) ## modulo operator(%) is gives you remainder 
print(4*2) ## multiplication
print(4+2) ## addition
print(4-2) ## substraction
print(5**2) ##it wil count the power (base ** exponent)
##priority
# 1st ()
# 2nd **
# 3rd / *  same priority if bot will present excicution will be from left to right
# 4th + -  same priority if bot will present excicution will be from left to right

1
1
8
6
2
25

# Datatypes
1. Numeric
    - integers
    - float
    - complex
2. Sequence
    - string
    - list
    - tuple
3. Boolean
4. Set
5. Dictioanry

In [4]:
# Numeric 

#intiger
x=10    ## intiger any 1 , 2 .........
print(type(x))

<class 'int'>

In [5]:
#float
y=1.8098  ## this float like 1.23442 , 2131.1212 ,...
print(type(y))

<class 'float'>

In [6]:
#complex numbers
z = 6 + 4j ## (real part) + (imaginary part)j 
print(type(z))

<class 'complex'>

##  Sequence

### Strings
In Python, Strings are arrays of bytes representing Unicode characters. A string is a collection of one or more characters put in a single quote, double-quote or triple quote. In python there is no character data type, a character is a string of length one. It is represented by str class.

In [24]:
string="hello"  ##string type
print(type(string))

<class 'str'>

In [9]:
first_Name='Archisman' 
Last_Name= 'Saha' 
print("My Name is: "+first_Name+" "+Last_Name) ## here '+' is used for string concatination (joining string) :)

My Name is: Archisman Saha

In [25]:
print(string[0])    ## variable_name[indices] it will return the character of indices position
## positions always starts from '0'(zero)

h

In [64]:
names_input=input("Enter names seperated by comma: ")
print(names_input)

Enter names seperated by comma: asas,asdd,fsfsf,aaaa
asas,asdd,fsfsf,aaaa

In [66]:
names=names_input.split(",") # .split() make it list
print(names)

['asas', 'asdd', 'fsfsf', 'aaaa']

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. lists are defined by having values between square brackets [ ]indices starts from 0

In [7]:
fruits=['apple',True,123]  ## lists 
print(fruits[0]) 
fruits[2]=6876
print(fruits[2])

apple
6876

In [8]:
print(fruits[-1]) ## counts from last (-)

6876

In [9]:
fruits.append(231) ##  .append add value to last
print(fruits[3])

231

In [10]:
fruits.insert(2,"hello") # .insert(position,value) insert value at position 
print(fruits[2])

hello

In [11]:
fruits.pop(2) ## .pop(position) remove the elemnt of the position
print(fruits)

['apple', True, 6876, 231]

In [14]:
check=[12,231,2,32,231,23,111,111,2,3,111,43,32]
check.remove(231) ## .remove(value) remove the first itemof the list which is equalto value
print(check)

[12, 2, 32, 231, 23, 111, 111, 2, 3, 111, 43, 32]

In [15]:
fruits.extend(["dwdwd","dwdw"]) ## it add  the other values 
print(fruits)

['apple', True, 6876, 'dwdwd', 'dwdw']

In [16]:
print(check.count(111)) ## .count(value) count number of occurance of the value

3

In [17]:
lists_num=[12,24323,909,23231,312313,3131]
lists_num.sort(key=None,reverse=False) ## sorts the array ascending
print(lists_num)

[12, 909, 3131, 23231, 24323, 312313]

In [18]:
lists_num.sort(key=None,reverse=True) ##descending ordr
print(lists_num)

[312313, 24323, 23231, 3131, 909, 12]

In [19]:
lists_num.clear() ## .clear() clear items of the list
print(lists_num)

[]

In [20]:
check=[12,231,2,32,231,23,111,111,2,3,111,43,32]
len(check) # len() calculates total length of List

13

In [22]:
check.index(111,1,12) # index() returns the index of first occurrence. Start and End index are not necessary parameters

6

In [23]:
##Min and Max
min(check)
max(check)

231

### Tuples
Just like list, tuple is also an ordered collection of Python objects. The only difference between type and list is that tuples are immutable i.e. tuples cannot be modified after it is created. It is represented by tuple class.

In [11]:
## create an empty Tuples

my_tuple=tuple()
print(my_tuple)

()

In [12]:

# Creating a Tuple with the use of Strings
Tuple1 = ('Archisman', 'Saha')
print("\nTuple with the use of String: ")
print(Tuple1)

Tuple with the use of String:
('Archisman', 'Saha')

In [13]:
# Creating a Tuple with the use of list
list1 = [1, 2, 4, 5, 6]
print("\nTuple using List: ")
print(tuple(list1))

Tuple using List:
(1, 2, 4, 5, 6)

In [14]:
# Creating a Tuple with the
# use of built-in function
Tuple1 = tuple('Archisman')
print("\nTuple with the use of function: ")
print(Tuple1)

Tuple with the use of function:
('A', 'r', 'c', 'h', 'i', 's', 'm', 'a', 'n')

In [16]:
# Creating a Tuple with nested tuples
Tuple1 = (0, 1, 2, 3,3,4,6)
Tuple2 = ('python', 'Abcd')
Tuple3 = (Tuple1, Tuple2)
print("\nTuple with nested tuples: ")
print(Tuple3)

Tuple with nested tuples:
((0, 1, 2, 3, 3, 4, 6), ('python', 'Abcd'))

In [18]:
## Inbuilt function
Tuple1.count(3)

2

In [19]:
Tuple1.index(3) # index() returns the index of first occurrence.

3

In [20]:
print("First element of tuple")
print(Tuple1[0])

First element of tuple
0

In [22]:
print("\nLast element of tuple")
print(Tuple1[-1])

Last element of tuple
6

## Boolean
Data type with one of the two built-in values, True or False. Boolean objects that are equal to True are truthy (true), and those equal to False are falsy (false). But non-Boolean objects can be evaluated in Boolean context as well and determined to be true or false. It is denoted by the class bool.

In [23]:
z=True ## it is boolean it has only two value true or false
y=False
print(type(z))
print(type(y))

<class 'bool'>
<class 'bool'>

## Sets
In Python, Set is an unordered collection of data type that is iterable, mutable and has no duplicate elements. The order of elements in a set is undefined though it may consist of various elements.

In [24]:
# Python program to demonstrate Creation of Set in Python

set1 = set()
print("Initial blank Set: ")
print(set1)

Initial blank Set:
set()

In [25]:
# Creating a Set with the use of a String
set1 = set("Welcome")
print("\nSet with the use of String: ")
print(set1)

Set with the use of String:
{'W', 'e', 'l', 'o', 'm', 'c'}

In [26]:
# Creating a Set with the use of a List
set1 = set(["Archisman", "Saha"])
print("\nSet with the use of List: ")
print(set1)

Set with the use of List:
{'Archisman', 'Saha'}

In [28]:
 
# Creating a Set with a mixed type of values
# (Having numbers and strings)
set1 = set([1, 2, 'Geeks', 4, 'For', 6])
print("\nSet with the use of Mixed Values")
print(set1)

Set with the use of Mixed Values
{1, 2, 4, 6, 'Geeks', 'For'}

In [32]:
# Addition of elements to the Set using Update function
set1 = set([ 4, 5, (6, 7)])
set1.update([10, 11]) # For addition of two or more elements Update() method is used. The update() method accepts lists, strings, tuples as well as other sets as its arguments. In all of these cases, duplicate elements are avoided.
print("\nSet after Addition of elements using Update: ")
print(set1)

Set after Addition of elements using Update:
{4, 5, 10, 11, (6, 7)}

In [34]:
set1 = set([1, 2, 3, 4, 5, 6,
            7, 8, 9, 10, 11, 12])

In [35]:
set1.remove(5) # .remove() removes the element
set1.remove(6)
print("\nSet after Removal of two elements: ")
print(set1)

Set after Removal of two elements:
{1, 2, 3, 4, 7, 8, 9, 10, 11, 12}

Elements can be removed from the Set by using built-in remove() function but a KeyError arises if element doesn’t exist in the set. To remove elements from a set without KeyError, use discard(), if the element doesn’t exist in the set, it remains unchanged.

In [36]:
# Removing elements from Set using Discard() method
set1.discard(8)
set1.discard(9)
print("\nSet after Discarding two elements: ")
print(set1)

Set after Discarding two elements:
{1, 2, 3, 4, 7, 10, 11, 12}

In [37]:
# Removing all the elements from Set using clear() method
set1.clear()
print(set1)

set()

In [29]:
set_var={"Avengers","IronMan",'Hitman'}

In [30]:
set_var.add("Hulk") #.add() add elemnts add the begining
print(set_var)

{'Hulk', 'IronMan', 'Hitman', 'Avengers'}

In [43]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [40]:
set2.intersection_update(set1) #Updates the set with the intersection of itself and another
set2

{'Avengers', 'Hitman', 'IronMan'}

In [42]:
set2.difference(set1)
set2

{'Avengers', 'Hitman', 'IronMan'}

In [44]:
# Python code to get the difference between two sets using difference_update() between set A and set B
 
A = {10, 20, 30, 40, 80}
B = {100, 30, 80, 40, 60}
# Modifies A and returns None
A.difference_update(B)
 
# Prints the modified set
print (A)

{10, 20}

In [45]:
# Python code to get the difference between two sets using difference() between set A and set B
A = {10, 20, 30, 40, 80}
B = {100, 30, 80, 40, 60}
print (A.difference(B))
print (B.difference(A))

{10, 20}
{100, 60}

In [46]:
# intersection of sets
set1 = {2, 4, 5, 6} 
set2 = {4, 6, 7, 8} 
set3 = {4,6,8}
  
print("set1 intersection set2 : ", set1.intersection(set2))
  
print("set1 intersection set2 intersection set3 :", set1.intersection(set2,set3))

set1 intersection set2 :  {4, 6}
set1 intersection set2 intersection set3 : {4, 6}

In [47]:
# Union of sets  
set1 = {2, 4, 5, 6} 
set2 = {4, 6, 7, 8} 
set3 = {7, 8, 9, 10}
  
# union of two sets
print("set1 U set2 : ", set1.union(set2))
  
# union of three sets
print("set1 U set2 U set3 :", set1.union(set2, set3))

set1 U set2 :  {2, 4, 5, 6, 7, 8}
set1 U set2 U set3 : {2, 4, 5, 6, 7, 8, 9, 10}

In [48]:
# checking of disjoint set
#Two sets are said to be disjoint when their intersection is null
set1 = {2, 4, 5, 6} 
set2 = {7, 8, 9, 10}
set3 = {1, 2}
print("set1 and set2 are disjoint?", set1.isdisjoint(set2))
  
print("set1 and set3 are disjoint?", set1.isdisjoint(set3))

set1 and set2 are disjoint? True
set1 and set3 are disjoint? False

In [49]:
# checking of subset


# issubset().
  
A = {4, 1, 3, 5}
B = {6, 0, 4, 1, 5, 0, 3, 5}
  
# Returns True
print(A.issubset(B))
  
# Returns False
# B is not subset of A
print(B.issubset(A))

True
False

In [50]:
# checking of superset (The issuperset() method returns True if all elements of a set A occupies set B which is passed as an argument and returns false if all elements of B not present in A.)
# issuperset().
  
A = {4, 1, 3, 5}
B = {6, 0, 4, 1, 5, 0, 3, 5}
  
print("A.issuperset(B) : ", A.issuperset(B))
  
# B is superset of A
print("B.issuperset(A) : ", B.issuperset(A))

A.issuperset(B) :  False
B.issuperset(A) :  True

In [51]:
# Symmetric Difference
#This in-built function of Python Set helps us to get the symmetric difference between two sets, which is equal to the elements present in either of the two sets, but not common to both the sets.
A = {'p', 'a', 'w', 'a', 'n'}
B = {'r', 'a', 'o', 'n', 'e'}
C = {}
  
print(A.symmetric_difference(B))
print(B.symmetric_difference(A))
  
print(A.symmetric_difference(C))
print(B.symmetric_difference(C))

{'p', 'e', 'w', 'r', 'o'}
{'e', 'w', 'p', 'r', 'o'}
{'n', 'p', 'a', 'w'}
{'e', 'n', 'a', 'r', 'o'}

## Dictionary
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [54]:
name_write={} ## Empty Dictionary
print(name_write)

{}

In [53]:
# Adding items to dictionary
name_write['harry']='lets go' # 'harry' is called Key and 'lets go' is called value
name_write['han']='bye'    
print(name_write)

{'harry': 'lets go', 'han': 'bye'}

In [55]:
name_write={
    'this': 'this is statement',          ## making dictionary
    'new_line':'making dictionary'
}
print(name_write)

{'this': 'this is statement', 'new_line': 'making dictionary'}

In [56]:
for elemnt in name_write:
    print(elemnt)                ## these are called key here 'this','harry','new_line','han' keys
    print(name_write[elemnt])      ## accesing elemnts here you have to pass  key name to access

this
this is statement
new_line
making dictionary

In [58]:
# Nested Dictionary

car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [59]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [61]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [62]:
print(car_type['car1']['Mercedes'])

1960

## conditional statement
if condition:
    statements
elif condition:
    statement
else:
    statement

## conditional  operators
`
> greater than
< less than
>= greater equalto
<= less equalto
== equality
 `

## Logical Operators
`
 and
 or
 not 
 `

## loop
`
for number in range(1,11,3): ##range(start,end,step) BY deafulst step is =1 similar to i++; and in range end not inclusive
    print(number)
`

## Functions
`
def my_function(): ## defifining function
    print("Hello")

my_function() ## calling function
`

In [67]:
def format_name(f_name,l_name):
    if f_name==""or l_name=="":
        return "You didn't provide valid inputs"
    formated_f_name=f_name.title()
    formated_l_name=l_name.title()
    return f"Result:{formated_f_name} {formated_l_name}"

print(format_name(input("what's your first name? "),input("whats your last name? ")))

what's your first name? archisman
whats your last name? saha
Result:Archisman Saha

In [68]:
name="ArcHISmAn"
print(name.title()) ## makes it title cast word it would be Archisman

Archisman